html {
  box-sizing: border-box;
}

*, ::before,::after{
  box-sizing: inherit;
}

ol,ul{
  list-style: none;
}

.wrapper{
  width: 100%;
  margin: auto;
}

.main{
  width: 1200px;
  margin-top: 20px;
  margin: auto;
}