.subscribe-form {
  display: flex;
  align-items: center;
}
  
.email__input {
  width: 230px;
  height: 40px;
  padding-left: 10px;
  font-family: $montserrat-font-stack;  
  font-size: 15px;
  color: $primary-pink-color;
  border: 2px solid #e5e5e5;
  border-right: none;
  box-sizing: border-box;

}

.email__submit {
  width: 150px;
  height: 40px;
  font-family: $montserrat-font-stack;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: $primary-white-color;
  box-sizing: border-box;
  background-color: #95e1d3;
  border: none;
  cursor: pointer;  
}