
.header-logo{
  display: inline-block;
  font-family: $montserrat-font-stack;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  color: $primary-white-color;
  animation: logo-rotate 0.5s linear;
}

@keyframes header__logo-rotate {
  0%{
    transform: translateX(200px);
  }
    
  50%{
    transform: translateX(0)
  }
    
  100%{
    transform: rotate(180deg)
  }
}
