@media (min-width:1200px) {
    .masthead{
        min-width: 940px;
    }

.cards{
    display: flex;
    justify-content: space-between;
    width: 940px;
}

.card{
    flex-basis: 25%;
    text-align: center;
}
}