
//fonts
$montserrat-font-stack:  'Montserrat', sans-serif;
$roboto-font-stack:  'Roboto', sans-serif;
$Kaushan-font-stack:  'Kaushan Script', cursive;

//color
$primary-white-color: #fff;
$primary-yellow-color: #fce38a;
$primary-black-color: #000;
$primary-pink-color: #ef8a8a;
