main,
header {
  margin: 0 auto;
  width: 900px;
  text-align: center;
}

header {
  padding: 80px 0 100px 0;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu-item {
  list-style: none;
  font-size: 0;
  display: inline-block;
  margin: 0 60px;
  text-transform: uppercase;
}

.menu-item a {
  display: block;
  color: #626262;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}
.menu :hover {
  color: #7fd9c7;
}

section {
  font-size: 0;
  margin-bottom: 20px;
}

.article-img {
  width: 420;
  height: 280;
  background-size: cover;
  background-position: center;
  margin-bottom: 32px;
}

.article-place {
  width: 420px;
  display: inline-block;
  text-align: center;
  margin-bottom: 60px;
}

.article-text {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
}

.article-title {
  font-size: 30px;
  line-height: 36px;
  font-family: 'Playfair Display', serif;
  color: #626262;
  font-weight: 400;
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
}

.article-subtitle {
  font-family: 'Playfair Display', serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
  margin: 0;
}

.article-place:nth-child(2n + 1) {
  margin-right: 56px;
}

button {
  border: 1px solid #626262;
  padding: 22px 33px;
  font-size: 20px;
  color: #acacac;
  font-family: 'Playfair Display', serif;
  background: white;
  cursor: pointer;
}
