
.header-menu {
  width: 490px;
  display: flex;
  justify-content: space-between;
    
}

.item-link{
  padding-bottom: 10px;
  font-family: $montserrat-font-stack;  
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: $primary-white-color;
  transition: color 200ms linear;

  &:hover{
    color: $primary-yellow-color;
    border-bottom: 3px solid $primary-yellow-color ;
    transition: border-bottom 200ms linear;
  
  
  }

  &__svg {
    fill: $primary-white-color;

    &:hover {
      fill: $primary-yellow-color;
    }
  }
}